body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: white;
    font-family: 'Impact', sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#logo {
    width: 100px;
    margin-right: 20px;
}

#container {
    display: flex;
    align-items: center;
}

#game-area {
    margin: 0 20px;
    border: 5px solid white; /* Biała obramówka */
    box-shadow: 0 0 10px white; /* Efekt poświaty */
}

.social-icon {
    width: 50px;
    margin: 10px;
}

#score-lives {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 10px;
}

#score {
    font-size: 24px;
}

#lives {
    display: flex;
}

.life {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
